.github/              @devops-dynamics/devops-team
.dockerignore         @devops-dynamics/devops-team
Dockerfile            @devops-dynamics/devops-team
docker-compose.yml    @devops-dynamics/devops-team
